.DS_Store
node_modules
/dist
/public/normas_captura
servidor.py



# local env files
.env
.env.production

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
src/.env
src/.env.production
.env
.env.production
